@page "{id:int}"
@model PanoramaApp.Pages.Movies.MovieDetailsModel
@{
    ViewData["Title"] = $"Details for {Model.Movie.Title}";
}

<h2>@Model.Movie.Title</h2>

<p>
    <strong>Votes:</strong> @Model.Movie.Votes
</p>

<p>
    <strong>Associated Group:</strong>
    @if (Model.Movie.Group != null)
    {
        @Model.Movie.Group.Name
    }
    else
    {
        <em>No associated group</em>
    }
</p>

<h3>Actions</h3>
<a class="btn btn-primary" asp-page="/MovieLists/AddToMovieList" asp-route-movieId="@Model.Movie.Id">Add to a Movie List</a>
<a class="btn btn-danger" asp-page="/Movies/Delete" asp-route-id="@Model.Movie.Id">Delete Movie</a>
